[Unit]
Description=Python Process Manager Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pypm monitor
Restart=always
User=root
StandardOutput=append:/var/log/pypm.log
StandardError=append:/var/log/pypm.error.log

[Install]
WantedBy=multi-user.target
